@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color themes */
.dark {
    --primaryColor: 64, 120, 93;
    --darkColor: 43, 43, 43;
    --lightColor: 205, 205, 205;
    --bgColor: 33, 33, 33;
}

.light {
    --primaryColor: 64, 120, 93;
    --darkColor: 222, 222, 222;
    --lightColor: 43, 43, 43;
    --bgColor: 212, 212, 212;
}

@layer base {
    body {
        @apply text-lightColor bg-bgColor;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@layer components {

    /* Common positions */
    .center-of-div {
        @apply flex justify-center items-center;
    }

    /* Box shadows */
    .shadow-type-1 {
        @apply shadow shadow-primaryColor/50 hover:shadow-custom-1 hover:shadow-primaryColor/50
    }

    .shadow-type-2 {
        @apply shadow-md shadow-primaryColor/50 hover:shadow-custom-2 hover:shadow-primaryColor/50
    }

    /* Hover animation */
    .hover-animation {
        @apply transition duration-200 ease-in-out
    }

    /* Appear from top animation */
    .appear-animation {
        animation: appear-in 1s ease;
    }

    @keyframes appear-in {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        90% {
            opacity: 0.9;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Grid background */
    .bg-grid {
        background-size: 120px 120px;
        background-image:
            linear-gradient(to right, rgba(var(--lightColor), 0.1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(var(--lightColor), 0.1) 1px, transparent 1px);
        /* background-image: radial-gradient(circle, rgba(var(--lightColor), 0.3) 1px, rgba(0, 0, 0, 0) 1px); */
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}