@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color themes */
.dark {
    --primaryColor: 64, 120, 93;
    --darkColor: 43, 43, 43;
    --lightColor: 190, 190, 190;
    --bgColor: 33, 33, 33;
}

.light {
    --primaryColor: 64, 120, 93;
    --darkColor: 218, 218, 218;
    --lightColor: 48, 48, 48;
    --bgColor: 190, 190, 190;
}

@layer base {
    body {
        @apply text-lightColor bg-bgColor;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@layer components {

    /* Common positions */
    .center-of-div {
        @apply flex justify-center items-center;
    }

    /* Box shadows */
    .shadow-type-1 {
        @apply shadow shadow-primaryColor/50 hover:shadow-custom-1 hover:shadow-primaryColor/50
    }

    .shadow-type-2 {
        @apply shadow-md shadow-primaryColor/50 hover:shadow-custom-2 hover:shadow-primaryColor/50
    }

    .shadow-type-3 {
        @apply shadow-none hover:shadow-custom-1 hover:shadow-primaryColor/50
    }

    /* Section subtitle */
    .section-subtitle {
        @apply font-bold text-2xl pl-2 border-l-8 border-l-primaryColor mb-2
    }

    /* Hover animation */
    .hover-animation {
        @apply transition duration-200 ease-in-out
    }

    /* Appear from top animation */
    .appear-top-animation {
        animation: appear-from-top 0.8s ease;
    }

    @keyframes appear-from-top {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        90% {
            opacity: 0.8;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Appear from top opacity 50 animation */
    .appear-top-animation-50 {
        animation: appear-from-top-50 1.1s ease;
    }

    @keyframes appear-from-top-50 {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        90% {
            opacity: 0.5;
            transform: translateY(10%);
        }

        100% {
            opacity: 0.55;
            transform: translateY(0);
        }
    }

    /* Appear from bottom animation */
    .appear-bottom-animation {
        animation: appear-from-bottom 0.8s ease;
    }

    @keyframes appear-from-bottom {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Appear in animation */
    .appear-animation {
        animation: appear-in 1s ease;
    }

    @keyframes appear-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* Window open animation */
    .window-open-animation {
        animation: window-open 0.5s ease;
    }

    @keyframes window-open {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        80% {
            opacity: 0.8;
            transform: scale(1.05);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    /* Collapse animation */
    .collapse-animation {
        animation: collapse-items 0.5s ease;
    }

    @keyframes collapse-items {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    /* Grid background */
    .bg-grid {
        background-size: 120px 120px;
        background-image:
            linear-gradient(to right, rgba(var(--lightColor), 0.1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(var(--lightColor), 0.1) 1px, transparent 1px);
        /* background-image: radial-gradient(circle, rgba(var(--lightColor), 0.3) 1px, rgba(0, 0, 0, 0) 1px); */
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* gallery scrollbar */
    .horizontal-scrollbar::-webkit-scrollbar {
        @apply h-2
    }

    .horizontal-scrollbar::-webkit-scrollbar-track {
        @apply h-1 rounded-full
    }

    .horizontal-scrollbar::-webkit-scrollbar-thumb {
        @apply h-1 bg-primaryColor rounded-full
    }
}