@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color themes */
.dark {
    --primaryColor: 64, 120, 93;
    --darkColor: 43, 43, 43;
    --lightColor: 205, 205, 205;
}

.light {
    --primaryColor: 64, 120, 93;
    --darkColor: 222, 222, 222;
    --lightColor: 43, 43, 43;
}

@layer base {
    body {
        @apply text-lightColor bg-darkColor;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@layer components {

    /* Common positions */
    .center-of-div {
        @apply flex justify-center items-center;
    }

    /* Hover animation */
    .hover-animation {
        @apply transition duration-200 ease-in-out
    }

    /* Appear from top animation */
    .appear-animation {
        animation: appear-in 1s ease;
    }

    @keyframes appear-in {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        90% {
            opacity: 0.9;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}